  <div class="isotope-filter">
    <ul class="filter">
      <li><a class="active" href="#" data-filter="*">Todo</a></li>
      <li><a href="#" data-filter=".tics">Educacion y Tics</a></li>
      <li><a href="#" data-filter=".web">Web</a></li>
      <li><a href="#" data-filter=".devel">Desarrollo</a></li>
      <li><a href="#" data-filter=".software">Software a medida</a></li>
      <li><a href="#" data-filter=".ux">UI/UX</a></li>
      <li><a href="#" data-filter=".multimedia">2D, 3D y Multimedia</a></li>
      <li><a href="#" data-filter=".design">Diseño</a></li>
    </ul>
  </div>

  <div class="ui three column grid">

    {{#ebit-portfolio-card
      cliente="Dirección Nacional de Museos"
      producto="RMA"
      descripcion="Plataforma para el Registro de Museos Argentinos"
      tecnologias="django, ember, semantic"
      tags="devel software"
    }}
      <img src="/portfolio/capturas/ebit_portfolio_dnm-rma_thumb.jpg" class="visible content">
    {{/ebit-portfolio-card}}

    {{#ebit-portfolio-card
      cliente="InterCement"
      producto="Dash CEO"
      descripcion="Diseño UI/UX, prototipado e implementación de dashboard para monitoreo de datos."
      tecnologias="django, ember, d3"
      tags="devel ux design"
    }}
    <img src="/portfolio/capturas/ebit_portfolio_intercement-dashceo_thumb.jpg" class="visible content">
    {{/ebit-portfolio-card}}

    {{#ebit-portfolio-card
      cliente="Spectro"
      producto="Pulse"
      descripcion="Desarrollo de backend, API y frontend para monitoreo de datos."
      tecnologias="django, ember"
      tags="software"
      proyectLink=false
      proyectoBlog="#"
    }}
      <img src="/portfolio/capturas/ebit_portfolio_spectro-pulse_thumb.jpg" class="visible content">
    {{/ebit-portfolio-card}}

    {{#ebit-portfolio-card
      cliente="Fundación Sadosky"
      producto="Pilas Bloques"
      descripcion="Mejoras en el desarrollo y diseño de Pilas Bloques. Inclusión de nuevas actividades."
      tecnologias="nodejs, electron, inkscape"
      tags="tics devel multimedia design"
    }}
      <img src="/portfolio/capturas/ebit_portfolio_sadosky-pilas-bloques_thumb.jpg" class="visible content">
    {{/ebit-portfolio-card}}

    {{#ebit-portfolio-card
      cliente="Fundación Sadosky"
      producto="Pilas Bloques Jr."
      descripcion="Diseño y desarrollo para un programa destinado a la enseñanza de programación en bloques para nivel inicial."
      tecnologias="nodejs, electron, inkscape"
      tags="tics devel multimedia design"
    }}
      <img src="/portfolio/capturas/ebit_portfolio_sadosky-pilas-bloques-jr_thumb.jpg" class="visible content">
    {{/ebit-portfolio-card}}

    {{#ebit-portfolio-card
      cliente="Berko SA"
      producto="Website"
      descripcion="Diseño y desarrollo del sitio web institucional de la empresa."
      tecnologias="html, php, bootstrap"
      tags="web design"
    }}
      <img src="/portfolio/capturas/ebit_portfolio_berko-website_thumb.jpg" class="visible content">
    {{/ebit-portfolio-card}}

    {{#ebit-portfolio-card
      cliente="World Democratic Forum"
      producto="IGM Map"
      descripcion="Diseño y desarrollo para un programa destinado a la enseñanza de programación en bloques para nivel inicial."
      tecnologias="nodejs, electron, inkscape"
      tags="software"
    }}
      <img src="/portfolio/capturas/ebit_portfolio_wdf-mapa-igm_thumb.jpg" class="visible content">
    {{/ebit-portfolio-card}}

    {{#ebit-portfolio-card
      cliente="InterCement"
      producto="IT Demands"
      descripcion="..."
      tecnologias="django, ember"
      tags="devel"
    }}
      <img src="/portfolio/capturas/ebit_portfolio_spectro-pulse_thumb.jpg" class="visible content">
    {{/ebit-portfolio-card}}

    {{#ebit-portfolio-card
      cliente="InterCement"
      producto="Dash BI"
      descripcion="..."
      tecnologias="django, ember"
      tags="devel"
    }}
      <img src="/portfolio/capturas/ebit_portfolio_spectro-pulse_thumb.jpg" class="visible content">
    {{/ebit-portfolio-card}}


    {{#ebit-portfolio-card
      cliente="Mutual Nikkai"
      producto="Origami"
      descripcion="Desarrollo de un sistema de gestión web para seguimiento de cuentas corrientes de socios y grupos familiares."
      tecnologias="django, ember, semantic"
      tags="software devel"
      proyectLink=true
    }}
      <img src="/portfolio/capturas/ebit_portfolio_spectro-pulse_thumb.jpg" class="visible content">
    {{/ebit-portfolio-card}}

    {{#ebit-portfolio-card
      cliente="Fernando Farias"
      producto="Podcast Igualdad"
      descripcion="Prototipo de portal de podcasting."
      tecnologias="django, bootstap"
      tags="software devel design"
      proyectLink=true
    }}
      <img src="/portfolio/capturas/ebit_portfolio_spectro-pulse_thumb.jpg" class="visible content">
    {{/ebit-portfolio-card}}


  </div>
