  <div class="isotope-filter">
    <ul class="filter">
      <li><a class="active" href="#" data-filter="*">Todo</a></li>
      <li><a href="#" data-filter=".tics">Educacion y Tics</a></li>
      <li><a href="#" data-filter=".web">Web</a></li>
      <li><a href="#" data-filter=".devel">Desarrollo</a></li>
      <li><a href="#" data-filter=".software">Software a medida</a></li>
      <li><a href="#" data-filter=".multimedia">2D, 3D y Multimedia</a></li>
    </ul>
  </div>
  <div class="isotope-grid">
      <div class="grid-item software">
        <img src="/style/images/art/p1.jpg" alt="" />
      </div>
      <div class="grid-item software">
        <img src="/style/images/art/p2.jpg" alt="" />
      </div>
      <div class="grid-item tics devel multimedia">
        <img src="/style/images/art/p3.jpg" alt="" />
      </div>
      <div class="grid-item tics devel multimedia">
        <img src="/style/images/art/p4.jpg" alt="" />
      </div>
      <div class="grid-item software">
        <img src="/style/images/art/p5.jpg" alt="" />
      </div>
      <div class="grid-item tics software web">
        <img src="/style/images/art/p6.jpg" alt="" />
      </div>
      <div class="grid-item web">
        <img src="/style/images/art/p7.jpg" alt="" />
      </div>
  </div>
