  <div class="isotope-filter">
    <ul class="filter">
      <li><a class="active" href="#" data-filter="*">Todo</a></li>
      <li><a href="#" data-filter=".tics">Educacion y Tics</a></li>
      <li><a href="#" data-filter=".web">Web</a></li>
      <li><a href="#" data-filter=".devel">Desarrollo</a></li>
      <li><a href="#" data-filter=".software">Software a medida</a></li>
      <li><a href="#" data-filter=".ux">UI/UX</a></li>
      <li><a href="#" data-filter=".multimedia">2D, 3D y Multimedia</a></li>
      <li><a href="#" data-filter=".design">Diseño</a></li>
    </ul>
  </div>

  <div class="ui two column stackable grid">

    {{#ebit-portfolio-card
      cliente="Dirección de Innovación y Tecnología Educativa"
      producto="Copa TIC"
      descripcion="En el contexto del mundial de fútbol Rusia 2018, la DiTE diseñó 16 actividades TIC para trabajar en más de 70 escuelas de la Provincia de Buenos Aires. Enjambre Bit desarrolló el sistema web que registró, semana a semana, las actividades realizadas por los distintos equipos de estudiantes secundarios que participan del proyecto."
      tecnologias="django, ember, semantic, postgres, rest"
      tags="devel software web tics"
      url="http://copatic.abc.gob.ar"
    }}
      <img src="/assets/portfolio/ebit_portfolio_copa-tic.jpg" class="visible content">
    {{/ebit-portfolio-card}}

    {{#ebit-portfolio-card
      cliente="Dirección Nacional de Museos"
      producto="RMA"
      descripcion="Estamos trabajando junto a la Dirección Nacional de Museos, desarrollando una plataforma para el relevamiento federal de los museos argentinos. El RMA cuenta con una parte de acceso público y una parte de uso interno para la DNM y organismos provinciales. Actualmente estamos desarrollando las herramientas de análisis estadístico."
      tecnologias="django, ember, semantic, postgres, rest"
      tags="devel software web "
      url="https://rma.cultura.gob.ar"
    }}
      <img src="/assets/portfolio/ebit_portfolio_dnm-rma.jpg" class="visible content">
    {{/ebit-portfolio-card}}

    {{#ebit-portfolio-card
      cliente="Dirección de Innovación y Tecnología Educativa"
      producto="SUITE"
      descripcion="Somos el equipo de desarrollo y soporte de la plataforma de seguimiento de acciones territoriales del equipo de la DiTE en Provincia de Buenos Aires, que permite gestionar el trabajo realizado a nivel provincial en las más de 8200 escuelas en los diferentes programas: Conectar Igualdad, Escuelas del Futuro, Primaria Digital, entre otros. "
      tecnologias="django, ember, semantic, postgres, rest"
      tags="devel software tics ux design"
      url=false
    }}
      <img src="/assets/portfolio/ebit_portfolio_dite-suite.jpg" class="visible content">
    {{/ebit-portfolio-card}}

    <!-- {{#ebit-portfolio-card
      cliente="InterCement"
      producto="Dash CEO"
      descripcion="Asistimos al área de Busines Intelligence de Intercement en el diseño UI/UX, prototipado e implementación de un dashboard para monitoreo de datos en tiempo real a nivel mundial. Actualmente estamos trabajando en la versión 2 del producto e implementando una capa de datos para integrar SAP a futuros desarrollos."
      tecnologias="django, ember, d3"
      tags="devel ux design"
      url=false
    }}
    <img src="/assets/portfolio/ebit_portfolio_intercement-dashceo.jpg" class="visible content">
    {{/ebit-portfolio-card}} -->

    {{#ebit-portfolio-card
      cliente="Spectro Location Intelligence"
      producto="Pulse"
      descripcion="Trabajamos en el desarrollo de un backend y API  para alojar sistemáticamente datos recolectados por la empresa. Paralelamente se desarrolló un Dashboard web, para realizar Business Intelligence con los datos del backend."
      tecnologias="django, ember"
      tags="software"
      url=false
      proyectoBlog="#"
    }}
      <img src="/assets/portfolio/ebit_portfolio_spectro-pulse.jpg" class="visible content">
    {{/ebit-portfolio-card}}

    {{#ebit-portfolio-card
      cliente="Spectro Location Intelligence"
      producto="Spectro WebCommands"
      descripcion="Desarrollamos una API que permite lanzar comandos en los equipos de forma remota, para operar con el dashboard."
      tecnologias="flask, sqlalchemy, ember, mirage, bootstrap"
      tags="software"
      url=false
      proyectoBlog="http://blog.enjambrelab.com.ar/creando-api-con-flask/"
    }}
      <img src="/assets/portfolio/ebit_portfolio_spectro-webcommands.jpg" class="visible content">
    {{/ebit-portfolio-card}}

    {{#ebit-portfolio-card
      cliente="Fundación Sadosky"
      producto="Pilas Bloques"
      descripcion="En el marco de la Iniciativa Program.AR trabajamos con la Fundación Sadosky en el desarrollo de mejoras para el engine de Pilas Bloques. También se desarrollaron nuevas actividades y desafíos."
      tecnologias="nodejs, electron, inkscape"
      tags="tics devel multimedia design"
      url="http://pilasbloques.program.ar/"
    }}
      <img src="/assets/portfolio/ebit_portfolio_sadosky-pilas-bloques.jpg" class="visible content">
    {{/ebit-portfolio-card}}

    {{#ebit-portfolio-card
      cliente="Fundación Sadosky"
      producto="Pilas Bloques Jr."
      descripcion="Durante la etapa de desarrollo y mejoras de Pilas Bloques, comenzamos a trabajar con la Fundación en una prueba de concepto para un programa destinado a la enseñanza de programación en bloques para nivel inicial."
      tecnologias="nodejs, electron, inkscape"
      tags="tics devel multimedia design"
    }}
      <img src="/portfolio/capturas/ebit_portfolio_sadosky-pilas-bloques-jr_thumb.jpg" class="visible content">
    {{/ebit-portfolio-card}}

    {{#ebit-portfolio-card
      cliente="World Democratic Forum"
      producto="IGM Map"
      descripcion="Colaboramos con el World Democratic Forum, adaptando el mapa de Índice de Governanza Mundial y las tablas de datos, para que sean responsive y multiidioma."
      tecnologias="html, drupal"
      tags="software web"
      url="http://fdm.rio20.net/?q=es/node/2115"
    }}
      <img src="/assets/portfolio/ebit_portfolio_wdf-mapa-igm.jpg" class="visible content">
    {{/ebit-portfolio-card}}

    {{#ebit-portfolio-card
      cliente="Fernando Farias / Federico Sartori"
      producto="Podcast Igualdad"
      descripcion="Acompañamos a dos locutores en la presentación y defensa de su tesis de graduación diseñando y desarrollando un portal de podcasting y videotutoriales que permite a los alumnos del programa Conectar Igualdad trabajar con sus netbooks en la creación de programas de radio. También produjimos material audiovisual de promoción y los videotutoriales que proponen el autoaprendizaje."
      tecnologias="django, bootstrap, sqlite, inkscape, gimp, blender, kdenlive, audacity"
      tags="software devel design multimedia"
      proyectoBlog="http://blog.enjambrelab.com.ar/podcast-igualdad/"
      url="http://podcast.digitalh.com.ar"
    }}
      <img src="/assets/portfolio/ebit_portfolio_podcast-igualdad.jpg" class="visible content">
    {{/ebit-portfolio-card}}

    {{#ebit-portfolio-card
      cliente="Sergio Denis"
      producto="Sergio Denis Online"
      descripcion="Diseñamos y desarrollamos el sitio web oficial del cantante. También generamos material gráfico y administramos las redes sociales. Actualmente, estamos prototipando una app mobile."
      tags="web design multimedia"
      tecnologias="django, ember, semantic, postgres, inkscape, gimp"
      proyectoBlog=false
      url="http://www.sergiodenis.com.ar"
    }}
      <img src="/assets/portfolio/ebit_portfolio_sergio-denis.jpg" class="visible content">
    {{/ebit-portfolio-card}}

    {{#ebit-portfolio-card
      cliente="Precintos Berko S.A."
      producto="Website"
      descripcion="Diseñamos y desarrollamos el sitio web institucional de la compañía."
      tags="web design"
      tecnologias="html, php, bootstrap"
      proyectoBlog=false
      url="http://www.berko.com.ar"
    }}
      <img src="/assets/portfolio/ebit_portfolio_berko.jpg" class="visible content">
    {{/ebit-portfolio-card}}


  </div>
