{{yield}}
<div class="ui vertical footer right aligned red segment ebit-footer">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="ui horizontal list footer-list">
        <div class="item">
          <img class="ui image" src="/enjambre-bit_logo-menu.png">
          <div class="content">Enjambre Bit SRL</div>
        </div>
        <a class="item">
          <i class="home icon"></i>
          <div class="content">
            Paysandú 1562, Piso 1, Ciudad Autónoma de Buenos Aires
          </div>
        </a>
        <a class="item" href="mailto:contacto@enjambrebit.com.ar" target="_blank" title="Comunicate con nosotros">
          <i class="mail icon"></i>
          <div class="content">
            contacto@enjambrebit.com.ar
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
