{{yield}}
<div class="ui vertical footer right aligned red segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="ui sixteen wide column">
        Enjambre Bit SRL - 2018
      </div>
    </div>
  </div>
</div>
