{{yield}}
<a class="ui item" target="_blank" href="https://facebook.com/EnjambreBit" title="Enjambre Bit en Facebook"><i class="ui facebook icon"></i></a>
<a class="ui item" target="_blank" href="https://twitter.com/EnjambreBit" title="Enjambre Bit en Twitter"><i class="ui twitter icon"></i></a>
<a class="ui item" target="_blank" href="https://instagram.com/EnjambreBit" title="Enjambre Bit en Instagram"><i class="ui instagram icon"></i></a>
<a class="ui item" target="_blank" href="https://github.com/EnjambreBit" title="Enjambre Bit en GitHub"><i class="ui github icon"></i></a>
<a class="ui item" target="_blank" href="https://www.youtube.com/channel/UC0qxtMgKiGmKNqLeMOxzt8Q" title="Enjambre Bit en YouTube"><i class="ui youtube icon"></i></a>
