<div class="ui fixed menu navbar page grid">
  {{#link-to "app.index" class="item"}}
    <img src="/enjambre-bit_logo-menu.png" width=35 height=35>
  {{/link-to}}

  {{ebit-secciones-del-menu}}
  <div class="ui right menu">
    {{ebit-redes}}
  </div>
</div>
