{{yield}}
<div class="card">
  <div class="ui center aligned image">
    <i class="ui massive {{icono}} icon"></i>
  </div>
  <div class="content">
    <div class="header">
      {{titulo}}
    </div>
    <div class="meta">
      {{skills}}
    </div>
    <div>

    </div>
  </div>
</div>
