{{yield}}
<div class="card">
  <div class="ui center aligned image">
    <img src="/skills/ebit_skills_{{icono}}-icon.png" alt="" />
  </div>
  <div class="content">
    <div class="header">
      {{titulo}}
    </div>
    <div class="meta">
      {{skills}}
    </div>
    <div>

    </div>
  </div>
</div>
