  <div class="isotope-filter">
    <ul class="filter">
      <li><a class="active" href="#" data-filter="*">All</a></li>
      <li><a href="#" data-filter=".branding">Branding</a></li>
      <li><a href="#" data-filter=".poster">Poster</a></li>
      <li><a href="#" data-filter=".illustration">Illustration</a></li>
    </ul>
  </div>
  <div class="isotope-grid">
      <div class="grid-item branding illustration">
        <img src="/style/images/art/p1.jpg" alt="" />
      </div>
      <div class="grid-item illustration">
        <img src="/style/images/art/p2.jpg" alt="" />
      </div>
      <div class="grid-item poster">
        <img src="/style/images/art/p3.jpg" alt="" />
      </div>
      <div class="grid-item branding">
        <img src="/style/images/art/p4.jpg" alt="" />
      </div>
      <div class="grid-item illustration">
        <img src="/style/images/art/p5.jpg" alt="" />
      </div>
      <div class="grid-item poster">
        <img src="/style/images/art/p6.jpg" alt="" />
      </div>
      <div class="grid-item illustration">
        <img src="/style/images/art/p7.jpg" alt="" />
      </div>
      <div class="grid-item poster">
        <img src="/style/images/art/p8.jpg" alt="" />
      </div>
  </div>
