<LinkTo @route="app.index" class="item" @current-when="app.index">
  Enjambre Bit</LinkTo>
<!-- {{#link-to "app.que-hacemos" class="item" current-when="app.que-hacemos"}}Qué hacemos{{/link-to}} -->
<LinkTo @route="app.portfolio" class="item" @current-when="app.portfolio">
  {{#if (media 'isMobile')}}
    <i class="ui folder open icon"></i>
  {{/if}}
  {{t "Trabajos"}}
</LinkTo>

<!-- {{#link-to "app.lab" class="item" current-when="app.lab"}}Lab{{/link-to}} -->

<LinkTo @route="app.pilas" class="item" @current-when="app.pilas">
  {{#if (media 'isMobile')}}
    <i class="ui battery full icon"></i>
  {{/if}}
  Pilas Engine 2
</LinkTo>

<a class="item"  href="http://blog.enjambrelab.com.ar/" target="_blank" title="{{t "NuestroBlogDeDesarrollo"}}">
  {{#if (media 'isMobile')}}
    <i class="ui file alternate icon"></i>
  {{/if}}
  {{t "Blog"}}
</a>

{{yield}}
