/* General */
@import url("https://fonts.googleapis.com/css?family=Archivo+Narrow");

html {
  font-display: swap;
  font-size: 1em;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
  min-height: 100vh;
}

.ebit-container {
  margin-top: 3.5em;
}

.ebit-spacer {
  display: block;
  height: 6rem;
}

.ui.huge.ebit.message {
  background: transparent;
  box-shadow: none;
  color: #696969;
  text-align: justify;
}

/* Home */
#2d_bg,
#design_bg,
#ux_bg,
#web_bg,
#3d_bg,
#ar_bg,
#mobile_bg,
path#code_bg {
  display: none !important;
  cursor: pointer;
}

#2d_text,
#design_text,
#ux_text,
#web_text,
#3d_text,
#ar_text,
#mobile_text,
g#code_text > path {
  display: none;
  pointer-events: none !important;
}

svg#ebit-logo-skills {
  height: auto !important;
  width: 50% !important;
}

.sumate-al-enjambre {
  display: none;
  font-family: "Archivo Narrow", sans-serif;
  font-size: 1.6em;
  cursor: pointer;
}

.enjambre-rojo {
  color: #cc0000;
}

.enjambre-gris {
  color: #666666;
}

.enjambre-bronce {
  color: #c0772f;
}

/* Headers */
.ui.red.header a,
.ui.red.header a:hover,
.ui.red.header a:visited {
  color: #db2828;
}

.ui.red.header a.link-gris {
  color: rgba(0, 0, 0, 0.6);
}

/* Menu */
.ui.menu .item {
  padding: 0em 0.9em;
}

.ui.menu .active.item,
.ui.menu .active.item:hover,
.ui.menu a.item:hover {
  color: white;
  background: rgb(220, 0, 0);
}

.ui.menu .active.item {
  font-weight: 600;
}

.ui.menu .item:first-child,
.ui.menu .item:first-child:hover {
  background: none;
}

.ui.menu .item:before {
  background: none;
}

.ui.secondary.pointing.menu {
  border-bottom: 2px solid rgb(220, 0, 0);
}

/* Menu Social */

.ui.right.menu {
  border: 0;
  box-shadow: none;
}

.ui.right.menu a.item,
.ebit-mobile-redes-home a.item {
  color: #666;
}

.ui.right.menu a.item:hover,
.ebit-mobile-redes-home a.item:hover {
  color: rgb(220, 0, 0);
  background: none;
}

/* Secciones */
.ui.header {
  color: rgb(88, 88, 88);
}

/* Menu list Contacto */

.ui.list.contacto-list a.item,
.ui.list.footer-list a.item {
  color: #555;
}

.ui.list.contacto-list a.item i.icon,
.ui.list.footer-list a.item i.icon {
  color: #666;
}

.ui.list.contacto-list a.item:hover,
.ui.list.footer-list a.item:hover {
  color: #333;
}

.ui.list.footer-list a.item:hover i.icon,
.ui.list.contacto-list a.item:hover i.icon {
  color: rgb(220, 0, 0);
}

.g-map,
#map {
  height: 100%;
}
.g-map-canvas {
  width: 100%;
  height: 100%;
}

/*
html {
  font-display: swap;
  font-size: 1em;
}

body {
  overflow: visible;
  height: 100%;
  overflow-y: scroll;
  flex-direction: column;
  display: flex;
}

body > div[class*="ember-view"] {
  flex: 1;
}

.text-centered {
  text-align: center !important;
}

.center {
  text-align: center;
}

.ui.header {
  color: rgb(88, 88, 88);
}

.huge.header {
  padding-top: 1em;
}

.ui.sub.header {
  text-transform: none;
}

h4.ui.header .sub.header {
  font-size: 0.9rem;
}

.pull-right {
  float: right;
}

.right {
  text-align: right;
}

.menu-button {
  padding: 5px !important;
  margin: 5px !important;
  width: 25px !important;
  height: 25px !important;
}

.ui.basic.button.menu-button {
  box-shadow: 0 0 0 !important;
}

.ui.menu .item {
  padding: 0em 0.9em;
}

.ui.menu .active.item,
.ui.menu .active.item:hover,
.ui.menu a.item:hover {
  color: white;
  background: rgb(220, 0, 0);
}

.ui.menu .active.item {
  font-weight: 600;
}

.ui.menu .item:first-child,
.ui.menu .item:first-child:hover {
  background: none;
}

.ui.menu .item:before {
  background: none;
}

.ui.secondary.pointing.menu {
  border-bottom: 2px solid rgb(220, 0, 0);
}

.ui.right.menu {
  border: 0;
  box-shadow: none;
}

.ui.right.menu a.item {
  color: #666;
}

.ui.right.menu a.item:hover {
  color: rgb(220, 0, 0);
  background: none;
}

.ui.inverted.menu a.item {
  padding: 0.9em 1.15em;
} */

.ebit-section-bg {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right bottom;
  z-index: -2;
}

.ebit-section-bg.quienes-somos {
  background-image: url("/fondos/ebit-section-bg_quienes-somos.jpg");
}

.ebit-section-bg.portfolio {
  background-image: url("/fondos/ebit-section-bg_portfolio.jpg");
}

.ebit-section-bg.lab {
  background-image: url("/fondos/ebit-section-bg_lab.jpg");
}

.ebit-section-bg.contacto {
  background-image: url("/fondos/ebit-section-bg_contacto.jpg");
}
/*
.ebit-mobile-menu {
  display: block;
  padding-top: 10px;
}

.ebit-margin-top {
  display: block;
  height: 1em;
} */

.ebit-logo-mobile {
  display: block;
  width: 64px;
  height: 64px;
  position: absolute;
  top: 5px;
  right: 10px;
  background: url("../enjambre-bit_logo-menu.png") top right no-repeat;
}

.ui.inverted.red.menu.ebit-mobile-menu .item {
  padding: 10px 10px !important;
}

.ebit-mobile-redes-home {
}

/*-----------------------------------------------------------------------------------*/
/*      PORTFOLIO
/*-----------------------------------------------------------------------------------*/
.filter {
  list-style: none;
  margin: 0 0 20px 0;
}
.filter li {
  display: inline;
  font-weight: 900;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 1;
  color: #c5c5c5;
}
.filter li:after {
  display: inline-block;
  content: "/";
  padding: 0 13px 0 15px;
}
.filter li a {
  color: #656565;
}
.filter li a.active,
.filter li a:hover {
  color: rgb(220, 0, 0);
}
.filter li:last-child:after {
  display: none;
}

.thumbs {
  margin-left: -12px;
  margin-bottom: -12px;
  *zoom: 1;
}
.thumbs:before,
.thumbs:after {
  display: table;
  content: "";
  line-height: 0;
}
.thumbs:after {
  clear: both;
}
.thumbs div {
  float: left;
  min-height: 1px;
  position: relative;
}
.thumbs div img {
  display: block;
  width: 100%;
}
.thumbs div a,
.thumbs div a img {
  display: block;
  position: relative;
}
.thumbs div a {
  overflow: hidden;
}
.thumbs div a .overlay {
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  height: 100%;
  position: absolute;
  text-decoration: none;
  width: 100%;
  z-index: 100;
  background: rgba(180, 0, 0, 0.85);
  -webkit-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
}
.thumbs div a:hover .overlay {
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.thumbs div a .overlay h4 {
  margin: 0;
  color: #fff;
}
.thumbs div a .overlay .info {
  position: absolute;
  left: 0;
  top: -105px;
  z-index: 2;
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 25px;
}
.thumbs div a:hover .overlay .info {
  top: 0 !important;
}
.thumbs div a .overlay span {
  font-size: 14px;
  font-style: italic;
  color: #ddd;
}

.portfolio-thumb-title {
  display: block;
  position: relative;
  background-color: rgba(0, 0, 0, 0.07);
  z-index: 1;
  border-radius: 3px;
  text-align: center;
  padding: 5px 0 3px 0;
  color: #666;
}

.ebit-portfolio-descripcion {
  display: block;
  text-align: justify;
  min-height: 110px;
}

.isotope,
.isotope .item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.isotope .item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: top, left, opacity;
  transition-property: transform, opacity;
}

.isotope-grid {
  width: 100%;
}

.nota_placeholder {
  height: 22px;
}

/* fluid 5 columns */
.grid-item {
  width: 25%;
  padding: 5px;
}

.grid-item-mobile {
  width: 50%;
  padding: 5px;
}

.grid-item img {
  width: 100%;
  height: 100%;
}

/* Footer */
.ebit-footer {
  display: block;
  background: rgba(255, 255, 255, 0.8) !important;
}

/* Pilas */

.ui.segments.pilas-segment .segment p,
.ui.segments.pilas-segment .segment .list {
  text-align: justify !important;
}
