
<div class="ui vertical center aligned stripe segment">
    {{#if media.isDesktop}}
      <div class="ebit-section-bg quienes-somos"></div>
    {{/if}}
    <div class="ui container">
      <div class="ui left aligned basic segment">
        <div class="ui stackable grid">
          <div class="six wide column">
            <div class="ui one column grid">
              <div class="column">
                <img class="ui medium image" src="/enjambre-bit_logo-home.png">
              </div>
              <div class="column">
                <div class="ui large list contacto-list">
                  <a class="item">
                      <i class="map marker icon"></i>
                    <div class="content">
                      Caballito, CABA, Argentina
                    </div>
                  </a>
                  <a class="item" href="mailto:contacto@enjambrebit.com.ar" target="_blank" title="Comunicate con nosotros">
                    <i class="mail icon"></i>
                    <div class="content">
                      contacto@enjambrebit.com.ar
                    </div>
                  </a>
                  <a class="item" href="https://github.com/EnjambreBit" target="_blank" title="Nuestro código en GitHub">
                    <i class="github icon"></i>
                    <div class="content">
                      github.com/EnjambreBit
                    </div>
                  </a>
                  <a class="item" href="https://facebook.com/EnjambreBit" target="_blank" title="Seguinos en Facebook">
                    <i class="facebook icon"></i>
                    <div class="content">
                      facebook.com/EnjambreBit
                    </div>
                  </a>
                  <a class="item" href="https://twitter.com/EnjambreBit" target="_blank" title="Seguinos en Twitter">
                    <i class="twitter icon"></i>
                    <div class="content">
                      twitter.com/EnjambreBit
                    </div>
                  </a>
                  <a class="item" href="https://instagram.com/EnjambreBit" target="_blank" title="Seguinos en Instagram">
                    <i class="instagram icon"></i>
                    <div class="content">
                      instagram.com/EnjambreBit
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="ten wide column">
            {{ebit-map}}
          </div>
        </div>
      </div>
    </div>
  </div>
