{{outlet}}

<div class="ui large center">

  <h1 class="ui huge header">Enjambre Bit</h1>

  <p><img src="/enjambre-bit_logo-home.png" width=512 height=379></p>

  <p>Diseñamos, creamos, damos vida a tus ideas.</p>
</div>
