<div class="ui vertical center aligned stripe segment">
  <div class="ebit-spacer"></div>
  <img class="ui centered large image" src="/enjambre-bit_logo-home.png">
  <p>Diseñamos, creamos, damos vida a tus ideas.</p>
</div>
{{outlet}}
