<div class="ui vertical center aligned stripe segment">
  {{#if media.isDesktop}}
    <div class="ebit-section-bg lab"></div>
  {{/if}}
  <div class="ui container">
    <div class="ui secondary pointing fluid menu">
      <h1 class="ui huge header">
        <div class="content">
          Lab
        </div>
      </h1>
    </div>
    {{outlet}}
  </div>
</div>
