<div class="ui large container ebit-content">
  {{#if media.isDesktop}}
    <div class="ebit-section-bg lab"></div>
  {{/if}}
  <div class="ui secondary pointing fluid menu">
    <h1 class="ui huge header">
      <i class="red flask icon"></i>
      <div class="content">
        Lab
      </div>
    </h1>
  </div>
  {{outlet}}
</div>
