<div class="ui vertical stripe segment ebit-content">
  <div class="ui container">
    {{#if (media 'isMobile')}}
      <div class="ui secondary pointing fluid menu">
        <h1 class="ui big header">
          <div class="content">
            {{t "Trabajos"}}
          </div>
        </h1>
      </div>
    {{/if}}
    <div class="ui huge ebit message">
      {{t "trabajosFrase"}}
    </div>
    {{ebit-galeria}}
    {{outlet}}
  </div>
</div>
