<div class="ui vertical stripe segment ebit-content">
  {{#if media.isDesktop}}
    <div class="ebit-section-bg portfolio"></div>
  {{/if}}
  <div class="ui container">
    <div class="ui secondary pointing fluid menu">
      <h1 class="ui huge header">
        <div class="content">
          Trabajos
        </div>
      </h1>
    </div>
    <div class="ui huge ebit message">
      Creemos que la suma de las partes es más que el todo, por eso, en esta sección, presentamos los trabajos realizados por Enjambre Bit, así como aquellos realizados por sus integrantes, ya que todos forman parte de nuestra experiencia.
    </div>
    {{ebit-galeria}}
    {{outlet}}
  </div>
</div>
