<div class="ebit-section-bg quienes-somos"></div>
<div class="ui vertical center aligned stripe segment">
    {{#if media.isDesktop}}
      <div class="ebit-section-bg quienes-somos"></div>
    {{/if}}
    <div class="ui container">
     
      <div class="ui left aligned basic segment">
        <p>Somos una empresa jóven.</p>
        <p>Creemos que la suma de las partes es más que el todo.</p>
      </div>
    </div>
  </div>
