<div class="ui large center container ebit-content">
  {{#if media.isDesktop}}
    <div class="ebit-section-bg quienes-somos"></div>
  {{/if}}
  <div class="ui secondary pointing fluid menu">
    <h1 class="ui huge header">
      Quienes somos
    </h1>
  </div>
  {{outlet}}
</div>
