<div class="ui vertical center aligned stripe segment">
  <div class="ui container">
    <div class="ui secondary pointing fluid menu">
      <h1 class="ui huge header">
        Sumate al Enjambre
      </h1>
    </div>
    <div class="ui left aligned basic segment">
      <div class="ui two cards">
        <div class="card">
          <div class="image">
            <img class="ui fluid image" src="/assets/sumate/sumate-al-enjambre_devel-django_web.png" alt="Estamos buscando desarrollador/a Backend">
          </div>
        </div>
      </div>
    </div>
    {{outlet}}
  </div>
</div>
