<div class="ui vertical center aligned stripe segment">
  {{#if media.isDesktop}}
    <div class="ebit-section-bg portfolio"></div>
  {{/if}}
  <div class="ui container">
    <div class="ui secondary pointing fluid menu">
      <h1 class="ui huge header">
        Sumate al Enjambre
      </h1>
    </div>
    <div class="ui left aligned basic segment">
      <h2 class="ui header">
        Estamos buscando
      </h2>
      <div class="ui three cards">
        <div class="card">
          <div class="image">
            <img src="https://semantic-ui.com/images/wireframe/image.png">
          </div>
          <div class="content">
            <div class="header">Desarrollador Backend</div>
            <div class="meta">
              <a>Python, Django</a>
            </div>
            <div class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris porta dui nec justo efficitur, ac interdum lectus finibus. Aenean scelerisque metus in ante blandit commodo.
            </div>
          </div>
        </div>
      </div>
    </div>
    {{outlet}}
  </div>
</div>
