  <div class="ui page grid main">
    <div class="row">
      <div class="column">
        <div class="ui grid">
          {{ebit-navbar}}
        </div>
        {{outlet}}
      </div>
    </div>
  </div>
